body {
    margin: 300px auto;
    width: 80%;
    text-align: center;
}

input {
    margin: 30px 0;
    width: 50%;
}

.hidden {
    display: none;
}

#greeting {
    font-size: 35px;
    color: black;
    font-weight: lighter;
}

#clock {
    color: cadetblue;
    font-size: 100px;
    font-weight: bolder;
}